/* Estilos propios de la presentación */

#principal {
    font-size: 75%;
    text-align: center;
}

#introduccion > ul {
    border-bottom: 2px solid white;
}

#objetivos_especificos li {
    line-height: 1.1em;
}

#cap_1, #cap_1_oss {
    text-align: center;
}

#cap_1_oss img {
    background-color: #FFF;
    box-shadow: 0px 0px 10px 15px #fff;
}

#cap_1_apps {
    text-align: center;
}
