/* Estilos propios de la presentación */

#principal {
    font-size: 75%;
    text-align: center;
}

#introduccion > ul {
    border-bottom: 2px solid white;
}

#objetivos_especificos li {
    line-height: 1.1em;
}

#cap_1, #cap_1_oss, #cap_2_3 h1, #cap_2_3_gnu_gpl, #cap_2_3_integracion h1, #cap_2_3_frontend_imagen {
    text-align: center;
}

#cap_2_3_backend_diagrama img, #cap_1_oss img, #cap_2_3_plugins_guarani_imagen img, #cap_2_3_plugins_moodle_imagen img {
    background-color: #FFF;
    box-shadow: 0px 0px 10px 15px #fff;
}

#cap_1_apps, #intro_integracion {
    text-align: center;
}

#cap_2_3_software_libre li, #cap_2_3_funcionalidad_api li {
    line-height: 1.1em;
}

#cap_2_3_gnu_gpl li {
    line-height: 1.1em;
}

#cap_2_3_gnu_gpl a {
    font-size: 0.7em;
}

#cap_2_3_gnu_gpl img {
    float: right;
}

#cap_2_3_integracion li, #cap_2_3_plugins_guarani li, #agenda li {
    line-height: 1.1em;
}

#cap_2_3_integracion p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#cap_2_3_funcionalidad_puntos_novedades, #cap_2_3_funcionalidad_puntos_calendario, #cap_2_3_funcionalidad_puntos_mapa, #cap_2_3_funcionalidad_puntos_texto, #cap_2_3_funcionalidad_notificaciones, #cap_2_3_funcionalidad_secuencia_anadir_servicio, #cap_2_3_funcionalidad_contextos, #cap_2_3_plugins_guarani_imagen, #cap_2_3_plugins_moodle_imagen, #cap_2_3_usabilidad_focus, #cap_2_3_usabilidad_resultados, #cap_4_conclusion {
    text-align: center;	
}
#cap_2_3_funcionalidad_puntos_novedades h1, #cap_2_3_funcionalidad_puntos_calendario h1 {
    float: left;
}

#cap_2_3_plugins_guarani_imagen img, #cap_2_3_usabilidad_focus img {
    width: 95%;
}

#cap_2_3_plugins_moodle_imagen img {
    width: 75%;
}


